@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* common parts  */

.heading {
  color: black;
  font-size: 64px;
  font-weight: 600;
}

.text {
  color: #00000099;
  font-size: 16px;
  font-weight: 400;
}

/* nav-bar section  */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

nav > h3 {
  color: black;
  font-size: 24px;
  font-weight: 400;
  font-family: Lobster;
}

nav > h3 > span {
  color: #ff7426;
}

nav > ul {
  display: flex;
  gap: 60px;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.nav-social {
  display: flex;
  gap: 30px;
}

/* ------------- */

.hr {
  width: 100%;
  margin-bottom: 40px;
  border: 0.1px solid #0000001a;
}

/* banner section  */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-left-content {
  width: 800px;
  height: 700px;
  padding: 50px;
  background-color: #e7fafe;
  border-radius: 50px 0px 0px 50px;
}

.banner-primary-img {
  width: 800px;
  height: 700px;
}

.banner-img {
  position: relative;
}

.circle {
  position: absolute;
  top: 7%;
  left: -7%;
  width: 150px;
  z-index: 1;
}

.white-bg {
  position: absolute;
  top: 12%;
  left: -3%;
  width: 100px;
  z-index: 0;
}

.banner-img img {
  border-radius: 0px 50px 50px 0px;
}

.banner-left-part {
  width: 100px;
  height: 600px;
  border-radius: 0 50px 50px 0;
  background-color: #e7fafe;
}

.banner-right-part {
  width: 100px;
  height: 600px;
  border-radius: 50px 0 0 50px;
  background-color: #e7fafe;
}

.banner-middle-part {
  display: flex;
}

.banner-note {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 13px;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: white;
}

.banner-left-content h1 {
  color: black;
  font-size: 64px;
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 24px;
}

.banner-select {
  display: flex;
  gap: 16px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.banner-time {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #0000000d;
}

.banner-person {
  display: flex;
  align-items: center;
  gap: 16px;
}

.banner-person-details h5 {
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
}

.banner-person-details p {
  color: #00000099;
  font-size: 14px;
  font-weight: 500;
}

.banner-last-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-btn button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 37px;
  border-radius: 16px;
  background-color: black;
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
}

.banner-btn button:hover {
  cursor: pointer;
}

/* categories section  */

.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 0 150px;
}

.categories-header button {
  background-color: #e7fafe;
  border: none;
  padding: 20px 27px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
}

.categories-header button:hover {
  cursor: pointer;
}

.categories-card-container {
  width: fit-content;
  margin: auto;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(6, 1fr);
  padding: 70px 0;
}

.categories-card-container p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.categories-card-1,
.categories-card-2,
.categories-card-3,
.categories-card-4,
.categories-card-5,
.categories-card-6 {
  width: 180px;
  height: 152px;
  text-align: center;
  border-radius: 30px;
  position: relative;
}

.categories-card-1 {
  background-image: linear-gradient(#70824600, #7082461a);
}

.categories-card-2 {
  background-image: linear-gradient(#6cc63f00, #6cc63f1a);
}

.categories-card-3 {
  background-image: linear-gradient(#cc261b00, #cc261b1a);
}

.categories-card-4 {
  background-image: linear-gradient(#f09e0000, #f09e001a);
}

.categories-card-5 {
  background-image: linear-gradient(#00000000, #0000000d);
}

.categories-card-6 {
  background-image: linear-gradient(#00000000, #0000000d);
}

.categories-img {
  position: relative;
  top: -40px;
}

.categories-shadow {
  position: absolute;
  top: -40px;
  left: 20%;
}

/* Recipes section  */

.recipes-card-container {
  width: fit-content;
  margin: 0px auto 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.recipe-header {
  text-align: center;
}

.recipe-header p {
  padding: 30px 0 100px;
}

.recipe-card-1,
.recipe-card-2,
.recipe-card-3,
.recipe-card-4,
.recipe-card-5,
.recipe-card-6,
.recipe-card-7,
.recipe-card-8,
.recipe-card-9 {
  max-width: 400px;
  height: 434px;
  padding: 16px;
  border-radius: 30px;
  background-image: linear-gradient(#e7f9fd00, #e7f9fd);
  position: relative;
}

.react {
  position: absolute;
  top: 35px;
  right: 35px;
}

.recipe-card-6 {
  text-align: center;
  background-image: linear-gradient(#357355, #1d483b);
  border-radius: 0;
}

.recipe-card-6 h3 {
  font-family: Lobster;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.recipe-card-6 img {
  height: 300px;
}

.recipe-card-6 p {
  color: #ffffff99;
  font-size: 14px;
  font-weight: 500;
}

.recipe-card-heading {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.recipe-card-img {
  border-radius: 24px;
}

.recipe-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.recipe-time,
.recipe-eat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* own kitchen section  */

.kitchen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}

.kitchen-content p {
  padding: 14px 0 70px;
}

.kitchen-content button {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 21px 50px;
  border: none;
  border-radius: 16px;
  background-color: black;
}

.kitchen-img-1 {
  position: absolute;
  left: -10%;
  bottom: 0;
}

.kitchen-img-2 {
  position: absolute;
  top: 0;
  left: 10%;
  width: 70px;
}

.kitchen-img-3 {
  position: absolute;
  top: 0;
  right: 30%;
}

.kitchen-img-4 {
  position: absolute;
  bottom: 20%;
  left: -5%;
}

.kitchen-img-5 {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 70px;
}

.kitchen-img {
  width: 651px;
  height: 500px;
  border-radius: 30px;
  position: relative;
  background-image: linear-gradient(#e7f9fd00, #e7f9fd);
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  /* nav-bar section  */

  nav {
    justify-content: space-between;
    margin: 0 16px;
  }

  nav > ul {
    display: none;
  }

  /* banner section  */
  .banner-container {
    flex-direction: column;
  }

  .banner-middle-part {
    flex-direction: column-reverse;
  }

  .circle,
  .white-bg {
    display: none;
  }

  .banner-left-part {
    display: none;
  }

  .banner-right-part {
    display: none;
  }

  .banner-primary-img {
    width: 100%;
    height: 100%;
  }

  .banner-left-content {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 0;
    position: relative;
    top: -5px;
  }

  .banner-left-content h1 {
    font-size: 48px;
  }

  .banner-select {
    padding: 40px 0;
  }

  .banner-left-content p {
    font-size: 14px;
  }

  .banner-img img {
    border-radius: 0;
  }

  .banner-btn button {
    padding: 15px;
  }

  /* categories section  */

  .categories-header {
    margin: 0;
  }

  .categories-header h1 {
    font-size: 36px;
    margin: auto;
  }

  .categories-header button {
    display: none;
  }

  .categories-card-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 100px;
  }

  .categories-card-1,
  .categories-card-2,
  .categories-card-3,
  .categories-card-4,
  .categories-card-5,
  .categories-card-6 {
    width: 165px;
  }

  /* recipes section  */

  .recipe-header h1 {
    font-size: 36px;
  }

  .recipe-header p {
    padding-bottom: 50px;
  }

  .recipes-card-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 16px 70px;
    gap: 10px;
  }

  .recipe-card-img {
    width: 100%;
  }

  .recipe-card-1,
  .recipe-card-2,
  .recipe-card-3,
  .recipe-card-4,
  .recipe-card-5,
  .recipe-card-6,
  .recipe-card-7,
  .recipe-card-8,
  .recipe-card-9 {
    height: 400px;
  }

  /* own kitchen section  */
  
  .kitchen-content {
    margin: 0 16px 50px;
  }

  .kitchen-content h1 {
    font-size: 36px;
  }

  .kitchen-content p {
    padding: 30px 0;
  }

  .kitchen-container {
    flex-direction: column-reverse;
  }

  .kitchen-img {
    width: 100%;
    height: 350px;
    margin: 0 30px;
  }

  .kitchen-img-1 {
    width: 100%;
    margin: 0 30px;
  }

  .kitchen-img-2,
  .kitchen-img-3,
  .kitchen-img-4,
  .kitchen-img-5 {
    width: 40px;
    
  }

  .kitchen-img-2 {
    top: 15%;
  }

  .kitchen-img-3 {
    top: 10%;
    right: 20%;
  }

  .kitchen-img-4 {
    bottom: 20%;
    left: 5%;
  }

  .kitchen-img-5 {
    top: 40%;
    right: 5%;
  }

}
