/* blog and acticle section  */

.blog-container h1 {
  font-size: 64px;
  text-align: center;
}

.blog-container p {
  text-align: center;
  padding-top: 24px;
}

.blog-input {
  text-align: center;
  position: relative;
  margin: 50px 0 80px;
}

.blog-input input {
  color: #00000066;
  font-size: 14px;
  font-weight: 500;
  width: 700px;
  height: 80px;
  padding: 32px;
  border-radius: 24px;
  border: 1px solid #0000001a;
}

.blog-input button {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 21px 57px;
  border-radius: 16px;
  border: none;
  background-color: black;
  cursor: pointer;

  position: absolute;
  bottom: 15%;
  right: 32.5%;
}

/* fav recipe section  */
.fav-recipe-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 80px;
}

.fav-recipe-card {
  width: 900px;
  display: flex;
  align-items: start;
  gap: 30px;
  margin-bottom: 30px;
}

.fav-recipe-card > img {
  border-radius: 20px;
}

.fav-recipe-person {
  display: flex;
  align-items: center;
  gap: 30px;
}

.fav-recipe-person h5 {
  font-size: 16px;
  font-weight: 700;
}

.fav-recipe-person > p {
  color: #00000099;
  font-size: 14px;
  font-weight: 500;
}

.fav-recipe-details > p {
  padding-top: 16px;
  padding-bottom: 24px;
}

.vertical-hr {
  height: 40px;
  border: 1px solid #0000001a;
}

/* pagination section */

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 50px;
}

.pagination-card-1,
.pagination-card-2,
.pagination-card-3,
.pagination-card-4,
.pagination-card-5,
.pagination-card-6,
.pagination-card-7 {
  width: fit-content;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 26px;
  border-radius: 16px;
  border: 1px solid #0000001a;
  cursor: pointer;
}

.pagination-card-1 {
  color: white;
  background-color: black;
}

/* Resonsive section  */

@media screen and (max-width: 576px) {
  /* blog and article section  */

  .blog-container h1 {
    font-size: 48px;
  }

  .blog-container p {
    margin: 0 16px;
  }

  .blog-input {
    text-align: center;
    position: relative;
    margin: 50px 0 150px;
  }
  
  .blog-input input {
    width: 90%;
  }
  
  .blog-input button {
    bottom: -90px;
    right: 110px;
  }
  


  /* fav recipe section  */
  .fav-recipe-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    gap: 80px;
  }

  .fav-recipe-card {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 50px;
  }

  .fav-recipe-card > img {
    margin: 0 auto;
  }

  .fav-recipe-details {
    text-align: center;
    margin: 0 16px;
  }

  .fav-recipe-person {
    gap: 20px;
  }

  /* pagination section */

  .pagination-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
  }

  .pagination-card-1,
  .pagination-card-2,
  .pagination-card-3,
  .pagination-card-4,
  .pagination-card-5,
  .pagination-card-6,
  .pagination-card-7 {
    width: fit-content;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 12px;
    border: 1px solid #0000001a;
    cursor: pointer;
  }
}
