@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* common parts  */

.heading {
  color: black;
  font-size: 48px;
  font-weight: 600;
}

.text {
  color: #00000099;
  font-size: 16px;
  font-weight: 400;
}

/* nav-bar section  */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

nav > h3 {
  color: black;
  font-size: 24px;
  font-weight: 400;
  font-family: Lobster;
}

nav > h3 > span {
  color: #ff7426;
}

nav > ul {
  display: flex;
  gap: 60px;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.nav-social {
  display: flex;
  gap: 30px;
}

/* ------------- */

.hr {
  width: 100%;
  margin-bottom: 40px;
  border: 0.1px solid #0000001a;
}

/* footer section  */

.footer-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-header h5 {
  font-family: Lobster;
  color: black;
  font-size: 24px;
  font-weight: 400;
}

.footer-header p {
  padding: 20px 0;
}

.footer-header h5 > span {
  color: #ff7426;
}

.footer-header ul {
  color: black;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  gap: 30px;
}

.footer-header li {
  list-style: none;
}

.footer-header a {
  color: black;
  text-decoration: none;
}

.footer-footer {
  display: flex;
  justify-content: end;
  gap: 32%;
}

.footer-footer > p {
  width: fit-content;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-footer > p > span {
  color: #ff7967;
}

.footer-social > a {
  margin-right: 30px;
}

/* banner person  */

.banner-person {
  display: flex;
  align-items: center;
  gap: 16px;
}

.banner-person-details h5 {
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
}

.banner-person-details p {
  color: #00000099;
  font-size: 14px;
  font-weight: 500;
}

/* recipe common card  */

.recipe-card-6 {
  max-width: 400px;
  height: 434px;
  padding: 16px;
  border-radius: 30px;
  background-image: linear-gradient(#e7f9fd00, #e7f9fd);
  position: relative;
  text-align: center;
  background-image: linear-gradient(#357355, #1d483b);
  border-radius: 0;
}

.recipe-card-6 h3 {
  font-family: Lobster;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.recipe-card-6 img {
  height: 300px;
}

.recipe-card-6 p {
  color: #ffffff99;
  font-size: 14px;
  font-weight: 500;
}

/* inbox section  */

.inbox-container {
  text-align: center;
  padding: 80px 345px;
  margin: 0 250px;
  border-radius: 60px;
  background-color: #e7f9fd;
  position: relative;
  margin-bottom: 100px;
}

.inbox-container p {
  width: 620px;
  padding: 24px 0 50px;
  margin: auto;
}

.inbox-container input {
  width: 480px;
  height: 80px;
  color: #00000066;
  font-size: 14px;
  font-weight: 500;
  padding: 32px;
  border-radius: 24px;
  border: none;
  background-color: white;
}

.inbox-container button {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 22px 46px;
  border: none;
  border-radius: 16px;
  background-color: black;
  position: absolute;
  bottom: 21%;
  right: 33.5%;
}

.inbox-container button:hover {
  cursor: pointer;
}

.inbox-img-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 60px;
}

.inbox-img-2 {
  position: absolute;
  bottom: 20%;
  right: 19%;
}

.inbox-img-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 60px 0;
}

/* delicious card container section  */

.delicious-card-container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  gap: 50px;
}

.delicious-card {
  width: 290px;
}

.delicious-card img {
  border-radius: 20px;
}

.delicious-card h5 {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 20px;
}


/* recipe flex  */
.recipe-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.recipe-time,
.recipe-eat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}









/* Responsive section  */

@media screen and (max-width: 576px) {
  /* nav-bar section  */

  nav {
    justify-content: space-between;
    margin: 0 16px;
  }

  nav > ul {
    display: none;
  }

  /* footer section  */

  .footer-header {
    flex-direction: column;
  }

  .footer-header ul {
    padding-bottom: 30px;
  }

  .footer-footer {
    justify-content: center;
    gap: 10px;
  }

  .footer-footer p {
    font-size: 14px;
  }

  .footer-social > a {
    margin: 0;
    margin-left: 7px;
  }

  .footer-social img {
    height: 20px;
    gap: 10px;
  }

  /* inbox section  */

  .inbox-container {
    margin: 0 16px 50px;
    padding: 20px;
    border-radius: 0;
  }

  .inbox-container h2 {
    font-size: 24px;
  }

  .inbox-container p {
    width: 100%;
  }

  .inbox-container input {
    width: 100%;
    height: 50px;
  }

  .inbox-container button {
    position: relative;
    margin-left: 200px;
    margin-top: 20px;
    padding: 20px 32px;
  }

  .inbox-container img {
    width: 20%;
    border-radius: 0;
  }

  .inbox-img-2 {
    top: 40%;
    right: 10%;
  }
  
  /* delicious card container section  */

  .delicious-card-container {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    gap: 50px;
  }



}
