/* banner section  */

.banner {
  background-image: linear-gradient(#ffffff, #F5F5F5;);
}

.banner-container,
.banner-footer,
.banner-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-footer {
  justify-content: space-between;
}

.banner-icon {
  gap: 32px;
}

.banner-header h1 {
  font-size: 64px;
  padding-bottom: 30px;
}

.banner-print,
.banner-share {
  text-align: center;
}

.banner-print button {
  background-color: transparent;
  border: none;
}

.banner-print button:hover {
  cursor: pointer;
}

.banner-print img {
  width: fit-content;
  text-align: center;
  padding: 28px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-color: #e7fafe;
}

.banner-print p {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
}

.banner-share button {
  background-color: transparent;
  border: none;
}

.banner-share button:hover {
  cursor: pointer;
}

.banner-share img {
  width: fit-content;
  padding: 28px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-color: #e7fafe;
}

.banner-share p {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
}

.vertical {
  width: 1px;
  height: 50px;
  border: 1px solid #0000001a;
}

.banner-prep-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.prep-info h5 {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
}

.prep-info p {
  color: #00000099;
  font-size: 14px;
  font-weight: 500;
}

.banner-cook-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cook-info h5 {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
}

.cook-info p {
  color: #00000099;
  font-size: 14px;
  font-weight: 500;
}

.banner-fork {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.banner-fork p {
  color: #00000099;
  font-size: 14px;
  font-weight: 500;
}

/* banner content  */

.banner-content {
  margin-bottom: 70px;
}

.banner-content > p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin: 0 220px;
}

.banner-playback {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
}

.banner-playback iframe {
  width: 1000px;
  height: 623px;
  border-radius: 24px;
}

.nutrition-container {
  width: 430px;
  padding: 32px;
  border-radius: 30px;
  background-color: #e7fafe;
}

.nutrition-container > h5 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 24px;
}

.nutrition-container > p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 170px;
}

.nutrition-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nutrition-info h5 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 500;
}

.nutrition-info p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.hr {
  width: full;
  margin: 16px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ingredient section  */

.ingredient-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 220px;
}

.ingredient-part {
  width: 840px;
}

.ingredient-part h1 {
  color: black;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 48px;
}

.ingredient-part h5 {
  color: black;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 33px;
}

.sauce {
  padding-top: 64px;
}

.ingredient-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ingredient-text {
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* direction section  */

.direction-container {
  margin-left: 220px;
}

.direction-container h1 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 32px;
}

.direction-content {
  width: 800px;
}

.direction-des {
  display: flex;
  align-items: start;
  gap: 20px;
}

.direction-des h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 24px;
}

.girl-cooking {
  padding: 40px 0;
}

.combine-serve-hr {
  margin-bottom: 100px;
}

/* extra recipe section  */

.extra-recipe-section h1 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px;
}

.delicious-card-container {
  margin-bottom: 80px;
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  /* banner section  */

  .banner-container {
    flex-direction: column;
  }

  .banner-header h1 {
    font-size: 48px;
    text-align: center;
  }

  .banner-footer {
    display: none;
  }

  /* banner content  */

  .banner-content {
    margin-bottom: 50px;
  }

  .banner-content > p {
    text-align: center;
    margin: 0 16px;
  }

  .banner-playback {
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }

  .banner-playback iframe {
    width: 90%;
    height: 250px;
  }

  .nutrition-container {
    width: 90%;
    padding: 24px;
    border-radius: 30px;
  }

  .nutrition-container > p {
    padding-top: 50px;
  }

  /* ingredient section  */

  .ingredient-container {
    flex-direction: column;
    gap: 30px;
  }

  .ingredient-part {
    width: 100%;
  }

  .ingredient-part h1 {
    text-align: center;
    text-decoration: underline;
  }

  .ingredient-part h5 {
    margin: 0 16px;
  }

  .ingredient-list {
    margin: 0 16px;
  }


  /* direction section  */

  .direction-container {
    margin-left: 0;
    margin: 0 16px;
  }

  .direction-container h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
  }

  .direction-content {
    width: 100%;
  }

  .direction-des {
    display: flex;
    gap: 10px;
  }

  .girl-cooking {
    padding: 40px 0;
    width: 100%;
  }

  .combine-serve-hr {
    margin-bottom: 50px;
  }

  /* inbox section  */

  .inbox-container {
    margin: 0 16px 50px;
    padding: 20px;
    border-radius: 0;
  }
}
